/* Main Menu StyleSheet*/

:root{
    --spotifyBlack: rgba(25,20,20,255);
    --spotifyGreen: rgba(31,187,86,255);
    --DarkGreen: rgba(5, 52, 37);
}

.buttons {
    position: absolute;
    margin-top: 13%;
    margin-left: 40%;
}
.ttl {
    margin-left: 15%;
}

.SlideBar{
    width: 100%;
}

.Slide{
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 15px;
    background: rgb(2, 250, 43);
    border-radius: 10px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.Slide:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.Slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    /*background: url("../Documentation/images/crazyface.png");*/
    background: rgba(25,20,20,255);

    cursor: pointer;
}
.Slide::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: rgba(25,20,20,255);
    cursor: pointer;
}

#emoji, #emoji1 {
    height: 25px;
}

.images{
    display: inline-block;
    width:100%;
}

.ddbtn{
    background: rgb(2, 250, 43);
    width: 200px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
}

.cntnt {
    width: 200px;
}

.dropdown{
    margin-left: 8%;
    position: relative;
}